<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .pagina {
        height: 100%;
        width: 100%;

    }

    .header {
        background-color: blue;
    }
</style>

<body style="border:0;overflow:visible">
    <header>
        <nav class="header">
            <a href="#" id="responsive-menu"></a>
            <ul>
                <li><a href="https://padlocksecurity.herokuapp.com/desenvolvimento/rotasparaimportacao">Atualizar
                        Rota</a></li>
                <li><a href="https://padlocksecurity.herokuapp.com/desenvolvimento/ferramentasDoDesenvolvedor">Ferramentas
                        do Desenvolvedor</a></li>
                <li><a href="https://padlocksecurity.herokuapp.com/desenvolvimento/tcc">Arquivos úteis</a></li>
            </ul>

        </nav>
    </header>
    <object type="text/html" data="https://padlocksecurity.herokuapp.com/documentacao/#/" class="pagina"></object>
</body>

</html>